@font-face {
  font-family: "norsebold";
  src: url("font/norse-bold-webfont.woff2") format("woff2"),
    url("font/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.background {
  flex: 2;
  height: 100vh;
  background-image: url(img/background.avif);
  background-size: cover;
  align-items: center;
  justify-content: end;
}
.logo {
  position: relative;
  height: 15%;
  width: 100%;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 68px;
  font-weight: bold;
  background-color: rgba(15, 39, 25, 0.5);
}
.logo img {
  height: 90%;
}
.logo span {
  font-family: "norsebold";
}
.copyright {
  position: relative;
  top: 82%;
  color: white;
  font-size: 12px;
  text-align: center;
}
.signup {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
form {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
  flex-direction: column;
}
form > div {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
form div div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}
input {
  border: 2px solid #e5e7eb;
}
input:invalid {
  border: 2px solid red;
}
input:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 1px 1px 3px #719ece;
}

button[type="submit"] {
  background-color: #596d48;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
